@using SchkalkaB.Models
@model AddHomeworkViewModel
<div class="main_main">
    <label>Добавление д/з</label>
</div>
<div class="info">
    <img src="/basik.png">
    <div class="link_basik">
        <a asp-controller="Timetable" asp-action="IndexTeacher">Расписание</a>
        <a asp-controller="Timetable" asp-action="Events">Mероприятия</a>
    </div>
</div>
<div class="basik">
    <label>Ваше расписание:</label>
    <label>@DateTime.Today.DayOfWeek</label>
    <label>@DateTime.Today.ToShortDateString()</label>
</div>
<div class="super_main">
    <div class="paw_extra">
        <img src="/paw_two.png">
    </div>
    <div class="finals">
        <div class="lessons">
            
        </div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="TimeTableId" type="hidden"/>
            <input asp-for="DayOfWeek" type="hidden"/>
            <input asp-for="Smena" type="hidden"/>
            <input asp-for="Cabinet" type="hidden"/>
            <input asp-for="TeacherSubject" type="hidden"/>
            <input asp-for="NumLesson" type="hidden"/>
            <input asp-for="Class" type="hidden"/>
            <input type="text" asp-for="Homework">
            <div class="flexing">
                <input class="f" type="submit" value="Сохранить"/>
            </div>
        </form>
    </div>
    <div class="paw_extra_two">
        <img src="/paw_main.png">
    </div>
</div>